/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* LAYOUT */
.container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.sidebar,
.main {
    display: flex;
    flex-direction: column;
    background: #333;
    color: #fff;
    min-height: 100vh;
    border:1px solid #777;
}

.sidebar {
    padding: 5px;
    min-width: 400px;
}

.main {
    flex-grow: 1;
}

/* FILE EXPLORER */
.file-explorer-container {
    width: 25rem;
    height: 100vh;
    overflow-y: auto;
    padding: 1rem;
    border-right: 2px solid #ccc;
    font-family: Arial, sans-serif;
}

.file-explorer-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #999;
}
  
.file-explorer {
    text-align: left;
}
  

.file-explorer {
    text-align: left;
}

/* FOLDER */
.folder {
    text-align: left;
    padding: 2px;
    font-size: 1.25rem;
    display: block;
    cursor: "pointer";
    font-weight: bold;
}

.folder-toggle {
    display: flex; 
    align-items: center; 
    gap: 5px; 
    cursor: pointer;
}

.folder-add-popup {
    position: absolute;
    background-color: #1a1a1a;
    border: 1px solid gray;
    padding: 0.5rem;
    z-index: 1000;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.folder-add-popup-block {
    padding: 5px; 
    cursor: pointer;
}

.folder-add-icon-wrapper {
    display: flex;
    align-items: center;
    gap: 5px; 
    cursor: pointer;
}


/* FILE */
.file {
    text-align: left;
    padding: 2px;
    font-size: 1.25rem;
    display: block;
    cursor: "pointer";
    font-weight: normal;
}

